// basic styles
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&family=Montserrat+Alternates&display=swap');
$htmlFont: sans-serif;
$companyFont: Irish Grover;
$fontSize: 20px;
body{
	color: var(--color);
	background-color: var(--background-color);
	transition: background-color 200ms linear;
	transition: color 500ms linear;
    font-family: $htmlFont;
    font-size: $fontSize;
}

// theme rules
html[data-theme='dark']{
	--color: white;
	--background-color: #3e3e42;
	--header: #3e3e42;
	--shadow: 10px 10px 5px 0px rgba(255,255,255,1);
	--color-0: #000;
}

html[data-theme='light']{
	--color: black;
	--background-color: #fff;
	--header: linear-gradient( 180deg,#2b5de3,#539ef5);
	--shadow: 10px 10px 5px 0px rgba(22,214,224,0.32);
	--color-0: #fff;
}

// loader
.background{
    background: rgb(138,138,138);
    background: linear-gradient(180deg, rgba(138,138,138,1) 26%, rgba(142,142,142,1) 37%);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
.spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

// header
header{
	width: 1678px;
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--header);
}
.logo-h{
    width: 110px;
    height: 100px;
    padding-left: 15px;
    padding-top: 5px;
}
.coin, .crypto{
    color: rgb(0, 183, 255);
}
.company{
    color: white;
    font-family: $companyFont;
}
.company-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    font-size: 24px;
}
.lang{
	margin-right: 10px;
}
// theme switch
.theme-01{
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 20px;
	font-weight: bold;
	width: 70px;
	height: 40px;
	margin-right: 5px;
}
.theme-02{
	background-color: #000;
	border: 2px solid #000;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	width: 70px;
	height: 40px;
}
.theme-01:hover{
	cursor: pointer;
	box-shadow: 10px 10px 5px -7.2px rgba(255,255,255,1);
	transition: 500ms;
}
.theme-02:hover{
	cursor: pointer;
	box-shadow: 10px 10px 5px -7.2px rgb(0, 0, 0);
	transition: 500ms;
}

// language switch
select {
	background-color: white;
	border: thin solid blue;
	border-radius: 4px;
	font: inherit;
	line-height: 1.5em;
	padding: 0.4em 3em 0.4em 0.5em;
  }

  select.round {
	background-image:
	  linear-gradient(45deg, transparent 50%, gray 50%),
	  linear-gradient(135deg, gray 50%, transparent 50%),
	  radial-gradient(#ddd 70%, transparent 72%);
	background-position:
	  calc(100% - 20px) calc(1em + 2px),
	  calc(100% - 15px) calc(1em + 2px),
	  calc(100% - .5em) .5em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1.5em 1.5em;
	background-repeat: no-repeat;
  }
  
  select.round:focus {
	background-image:
	  linear-gradient(45deg, white 50%, transparent 50%),
	  linear-gradient(135deg, transparent 50%, white 50%),
	  radial-gradient(gray 70%, transparent 72%);
	background-position:
	  calc(100% - 15px) 1em,
	  calc(100% - 20px) 1em,
	  calc(100% - .5em) .5em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1.5em 1.5em;
	background-repeat: no-repeat;
	border-color: green;
	outline: 0;
  }

.lang{
	font: bold 1em/100% "Helvetica Neue", Arial, sans-serif;
	
}

// main
.boxes{
    display: flex;
    margin: 65px 65px 65px 0px;
}
.box{
    width: 400px;
    height: 453px;
    border: 1px solid #A6B0C3;
    border-radius: 20px;
	margin-left: 40px;
	margin-right: 100px;
	box-shadow: var(--shadow);
    .headings{
        display: flex;
        .trending-heading{
            font-size: 25px;
            margin-left: 15px;
        }
    }
}
.trending-img{
    padding-top: 5px;
    padding-left: 5px;
    width: 40px;
    height: 45px;
}
.list-item{
	display: flex;
	.list-item-img{
		width: 37px;
		height: 39px;
		margin-left: 25px;
	}
	.list-item-nameCurrency{
		font-weight: bold;
		margin-left: 10px;
	}
	.list-item-priceUsd{
		margin-left: 110px;
	}
}
.triangle{
	border: 15px solid transparent; 
	border-top: 20px solid red;
	margin-top: 20px;
	margin-left: 20px;
}
.triangle-02{
	border: 15px solid transparent; 
	border-bottom: 20px solid #0BA407;
	margin-bottom: 20px;
	margin-left: 20px;
}

// currencies heading + input
.currencies-start{
	display: flex;
	margin-bottom: 45px;
	.currency-heading{
		background-image: url(/currencyheading.png);
		background-repeat: no-repeat;
		width: 1000px;
		height: 66px;
		.currency-heading-h1{
			color: #fff;
			font-size: 40px;
			text-align: center;
			margin-top: 15px;
		}
	}
}

// currency table
.currencies-continue{
	.heading-table{
		color: #A6B0C3;
		font-weight: bold;
		padding-left: 55px;
		padding-right: 58px;
		font-size: 18px;
	}
	.heading-table-1{
		padding-right: 55px;
		padding-left: 68px;
	}
}
.currencies-continue-adapt{
	display: none;
}
.responsive-div, .responsive-div-2{
	display: none;
}
// adaptive (mobile)
@media screen and (max-width: 768px) {
	// header
	header{
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}
	.responsive-div{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo-box, .company-title{
		display: none;
	}
	.company-title-res{
		margin-left: 15px;
		font-size: 15px;
	}
	// theme switch
	.theme-01{
		background-color: wheat;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	
	// main, boxes
	.boxes{
		display: flex;
		flex-direction: column;
	}
	.box{
		margin-top: 25px;
		width: 300px;
		height: 353px;
	}
	.trending-heading{
		font-size: 12px;
	}
	.list-item{
		.list-item-img{
			width: 27px;
			height: 29px;
			margin-left: 15px;
		}
		.list-item-nameCurrency{
			margin-left: 7px;
		}
		.list-item-priceUsd{
			margin-left: 50px;
		}
	}
	.trending-img{
		padding-top: 10px;
		padding-left: 10px;
		width: 30px;
		height: 35px;
	}
	.currency-heading-h1{
		font-size: 14px;
	}
	.currencies-start{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.currencies-continue, hr, .imgAdapt{
		display: none;
	}
	// currencies - CurrencyListItem.module.scss
	// footer - Footer.scss
}